@charset "utf-8";

@import '../../../../public/sprite/list';

table {
  width: 100%;
  border: 1px solid #444444;
  border-collapse: collapse;
}
th,
td {
  border: 1px solid #444444;
  padding: 10px;
}
